@import "variables.scss";

@each $class, $hex in $colors {
    .bg-#{$class} {
        background-color: #{$hex};
    }

    .color-#{$class} {
        color: #{$hex};
    }
    /**/
}

.color-white {
    h1,h2,h3,h4,h5,p {
        color: white;
    }
}