:root {
  --loader-size: 20px;
  --loader-border-width: 2px;
  --color-primary: #29bb89; /* Blue */
  --color-secondary: #29bb89; /* Red */
  --animation-duration: 1.5s;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  .row {
    display: flex;
    gap: 1rem;
    .form-field {
      flex: 1;
    }
  }
  .form-field {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .form-label {
    font-size: 1rem;
  }

  .form-input,
  .form-textarea {
    background: white;
    border-radius: 2rem;
    padding: 1rem 2rem;
    font-size: 1.1rem;

    &:focus {
      outline: 2px solid black;
      outline-offset: 3px;
    }
  }

  .form-submit-container {
    flex-direction: row;
    > button {
      width: auto;
      flex: 0 0 auto;
    }

    .form-btn.submit {
    //   margin-top: 2rem;
      font-size: 1.25rem;
    }
  }
}

.circular-loader {
  width: var(--loader-size);
  height: var(--loader-size);
  border-radius: 50%;
  position: relative;
  overflow: hidden; /* Ensures pseudo-elements are clipped */
  margin-left: 2rem;
}

.circular-loader::before,
.circular-loader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  border: var(--loader-border-width) solid transparent;
  animation: rotate var(--animation-duration) linear infinite,
    dash var(--animation-duration) ease-in-out infinite;
}

.circular-loader::before {
  border-top-color: var(--color-primary);
  border-left-color: var(--color-primary);
  animation-delay: 0s;
}

.circular-loader::after {
  border-bottom-color: var(--color-secondary);
  border-right-color: var(--color-secondary);
  animation-delay: calc(
    var(--animation-duration) / 2
  ); /* Offset for second color */
  transform: rotate(180deg); /* Start from opposite side */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
