@use "../styles/variables";
.gradient-link {
  --gradient-position: 0% 0;
  position: relative;
  color: white;
  text-decoration: none;
  padding-bottom: 5px;
  font-size: 1rem;
  overflow: hidden;
  background-position: var(--gradient-position, 0% 0%);
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  background-size: 200% auto;
  transition: background-position 0.6s ease;
  background-image: none; /* Important:  Start with no background-image */
  font-size: 1rem;

  svg {
    font-size: 1rem;
  }

  &:hover {
    color: transparent;
    background-image: linear-gradient(
      to right,
      #1e6f5c,
      #388e3c,
      #689f38,
      #81c784,
      #81c784,
      #4caf50,
      #1e6f5c
    );
    -webkit-background-clip: text;
    background-clip: text;
    background-position: var(--gradient-position, 100% 0%);

    svg {
      fill: url(#greenGradient);
    }
  }

  .icon {
    display: inline-block;
    color: inherit;
    transition: inherit;
  }

  svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: middle;
  }

  &.gradient-link-bg {
    border: 1px solid white;
    padding: variables.$padding_btn;
    transition: box-shadow 0.3s ease;

    &:hover {
      -webkit-background-clip: unset;
      background-clip: unset;
      color: white;
      border-color: white;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    }
  }
}