.flex-parent {
    > div {
        flex: 1;
    }
}

.heading-text {
    h3 {
        font-size: 2rem;
    }
    
    .heading {
        flex: 1.25;
    }

    &:first-of-type {
        margin-bottom: 2rem;
    }

    @media(max-width: 768px) {
        flex-direction: column;
        row-gap: 1rem;
    }
}