.two-col-callout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  flex-wrap: nowrap;
  @media (max-width: 767px) {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .left {
    flex: 0 1 75%;
    @media (max-width: 767px) {
      flex: 0 1 100%;
    }
  }

  .right {
    flex: 0 1 25%;
    @media (max-width: 767px) {
      flex: 0 1 100%;
    }
    text-align: right;
    @media (max-width: 767px) {
      text-align: left;
    }
  }

  &.no-button {
    .left {
      flex: 0 1 100%;
    }
  }

  .btn {
    display: inline-flex;
    align-items: center;
    width: auto;
    margin-top: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    @media (max-width: 767px) {
      font-size: 1rem;
    }
    svg {
      transition: transform 0.3s ease; // ✅ Add this
      transform: translateX(0.25rem);
    }

    &:hover {
      // transform: scale(1.05);
      svg {
        transform: translateX(0.35rem);
      }
    }
  }
  margin-bottom: 1rem;
}
