@font-face {
    font-family: 'TT Ramillas';
    src: url('/assets/fonts/TT Ramillas Complete Family/TypeType - TT Ramillas Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TT Ramillas';
    src: url('/assets/fonts/TT Ramillas Complete Family/TypeType - TT Ramillas Black Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'TT Ramillas';
    src: url('/assets/fonts/TT Ramillas Complete Family/TypeType - TT Ramillas ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TT Ramillas';
    src: url('/assets/fonts/TT Ramillas Complete Family/TypeType - TT Ramillas ExtraBold Italic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'TT Ramillas';
    src: url('/assets/fonts/TT Ramillas Complete Family/TypeType - TT Ramillas Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TT Ramillas';
    src: url('/assets/fonts/TT Ramillas Complete Family/TypeType - TT Ramillas Bold Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'TT Ramillas';
    src: url('/assets/fonts/TT Ramillas Complete Family/TypeType - TT Ramillas Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TT Ramillas';
    src: url('/assets/fonts/TT Ramillas Complete Family/TypeType - TT Ramillas Medium Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'TT Ramillas';
    src: url('/assets/fonts/TT Ramillas Complete Family/TypeType - TT Ramillas Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TT Ramillas';
    src: url('/assets/fonts/TT Ramillas Complete Family/TypeType - TT Ramillas Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'TT Ramillas';
    src: url('/assets/fonts/TT Ramillas Complete Family/TypeType - TT Ramillas Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TT Ramillas';
    src: url('/assets/fonts/TT Ramillas Complete Family/TypeType - TT Ramillas Light Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'TT Ramillas';
    src: url('/assets/fonts/TT Ramillas Complete Family/TypeType - TT Ramillas ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TT Ramillas';
    src: url('/assets/fonts/TT Ramillas Complete Family/TypeType - TT Ramillas ExtraLight Italic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
  }
  