.page-internal {
  .slider-wrapper {
    height: 75vh;

    .slick-dots {
      display: none !important;
    }
  }

  .slider-wrapper + section {
    margin-top: 77vh;
  }

  .content-block:first-of-type {
    padding-top: 4rem;
    @media (max-width: 768px) {
      padding-top: 2rem;
    }
  }

  .block {
    margin-top: 4rem;
  }

  .image-text-internal {
    padding: 2rem 2rem;
    border-radius: 2rem;

    &.block-transparent {
      background: #7ed6b8; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #e9f8f3,
        #d4f1e7
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #e9f8f3,
        #d4f1e7
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      border: 0px;
    }

    .image-stack {
      width: 100%;
      min-height: 350px;
      img {
        max-height: 350px;
        object-fit: cover !important;
        border-radius: 2rem;
      }
    }

    &.bg-primary {
      background: #141e30; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        rgba(140, 168, 158, 1),
        rgba(201, 240, 226, 1) 35%
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        rgba(140, 168, 158, 1),
        rgba(201, 240, 226, 1) 35%
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      * {
        color: black;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      &.reverse {
        flex-direction: column;
      }
    }
  }

  .slider-wrapper:not(.slider-quote) {
    .banner-content {
      max-width: 55%;
      @media (max-width: 768px) {
        max-width: 95%;
      }
      .subheading {
        margin-top: 1rem;
      }
    }
  }
}
