$color_primary: black;
$color_secondary: white;
$color_headings: #29bb89;
$color_ba_green: #1e6f5c;


//radius
$radius_btn: 2rem;
$padding_btn: 0.25rem 1.25rem;

$colors: (
    primary: black,
    secondary: white,
    headings: #555555,
    light-grey: #2c2c2c,
    primary-light: #ffd580,
    secondary-light: #92d07e,
    primary-dark: #d95f02,
    secondary-dark: #3a923a,
    contemp-blue: #2176f2,
    contemp-purple: #2176f2,
    primary-black: #000000,
    white: #ffffff,
    white_smoke: rgb(245, 245, 245),
    light_green: #c9f0e2,
    lighter_green:#eefaf6,
    lighter_grey: #f6f4f1
);


$size_font_base: 14px;